<p id="notice"><%= notice %></p>
<% flash.each do |message_type, message| %>
	<div class="alert alert-<%= message_type %> fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times</a><%= message %></div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @quiz.teacher %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
